@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: white;
    height: 40px;
    position: relative;

    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        display: -webkit-box;

        .btn-content {
            background-color: $colormain;
            display: flex;
            padding: 0 10px;

            &:hover {
                background-color: darken($colormain, 5);
            }
        }

        i {
            font-size: $base-size + 1px;
        }

        .flag {
            cursor: pointer;
            justify-content: center;
            justify-items: center;
            height: 150%;

            // padding-top: 44px;
            span {
                padding: 0;
                margin: 0;
            }

            &:hover .lang-box {
                visibility: visible;

            }

            .lang-box {
                display: grid;
                border: 1px solid transparent;
                background: $colormain;
                border-radius: 2px;
                visibility: hidden;
                margin-top: -5px;
                width: 35px;

                span {
                    margin-left: 2px;
                }

                .language-vi {
                    cursor: pointer;
                    height: 25px;
                    // opacity: 0.5;

                    &.active {
                        // opacity: 1;

                        span {
                            color: orangered;
                        }
                    }

                    span {
                        // width: 25px;

                        &:hover {
                            color: rgb(241, 241, 97)
                        }
                    }
                }

                .language-en {
                    cursor: pointer;

                    &.active {
                        // opacity: 1;

                        span {
                            color: orangered;
                        }
                    }

                    span {
                        width: 23px;
                        height: 21px;

                        &:hover {
                            color: rgb(241, 241, 97)
                        }
                    }
                }
            }
        }

        .fas.fa-sign-out-alt {
            padding-top: 13px;
            padding-left: 10px;

        }
    }
}